<template>
    <div class="home">
        <transition name="fade-up" mode="out-in">
            <items-list
                v-if="items"
                :items="items"
            >
            </items-list>
            <loading
                v-if="!items"
            >
            </loading>
        </transition>
    </div>
</template>
  
<script>
import sampleData from '../data';
import ItemsList from '../components/ItemsList';
import Loading from '../components/Loading';

export default {
  name: 'Home',

  components: {
      ItemsList,
      Loading
  },

  data() {
      return {
          items: null
      }
  },

  methods: {
      fetchItems() {
        // Normally instead of returning a promise with a manual timeout, here is where we would make our http request
        // But in this case, the supplied JSON does not appear to have the appropriate CORS header for cross-domain usage,
        // so I have downloaded the JSON and we simulate loading it instead
        return new Promise((resolve, reject) => {
            setTimeout(() => {
                resolve(sampleData);
            }, 1000 * 4)
        })
        .then(data => {
            this.items = data.groups;
        });
      }
  },

  mounted() {
      this.fetchItems();
  }
};
</script>

<style lang="scss" scoped>
@import '../styles/_variables';
</style>
