@import './_variables';

// ** NORMALIZATION STYLES
*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    color: $text_color;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    background: $offwhite;
    // enforce a vertical scrollbar, to prevent page content from jumping around when data loads due to scrollbar appearance
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin: 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.fade-up-enter-active,
.fade-up-leave-active {
    transition: all 0.2s ease;
}

.fade-up-enter, .fade-up-leave-to {
    transform: translateY(20px);
    opacity: 0;
}


.fade-enter-active {
    transition: all 0.4s ease;
}

.fade-enter, .fade-up-leave-to {
    opacity: 0;
}