<template>
    <div class="items-list">
        <div class="items-container">
            <item-card
                v-for="item in items"
                :key="item.id"
                :item="item"
            >
            </item-card>
        </div>
    </div>
</template>

<script>
import ItemCard from './ItemCard';

export default {
  name: 'ItemsList',

  components: {
      ItemCard
  },

  props: {
      items: {
        required: true,
        type: Array
      }
  }
};
</script>

<style lang="scss" scoped>
@import '../styles/_variables';

.items-list {

}

.items-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
</style>
