<template>
    <div class="item-carousel">
        <transition name="fade">
            <div
                v-if="isOpen"
                class="carousel-container"
            >
                <div
                    @click="handleCarouselClose"
                    class="carousel-close"
                >
                    <svg class="carousel-close-icon" viewbox="0 0 32 32">
                        <path class="carousel-close-icon-path" d="M 8,8 L 24,24 M 24,8 L 8,24" />
                    </svg>
                </div>

                <img
                    class="carousel-image"
                    :src="images[activeImageIndex].href"
                    :style="imageDimensionStyles"
                />

                <div class="carousel-controls">
                    <span
                        v-for="(image, index) in images"
                        :key="image.href"
                        :class="{ active: index === activeImageIndex }"
                        @click="selectImage(index)"
                        class="carousel-control-dot"
                    >
                    </span>
                    <svg @click="selectPreviousImage" class="carousel-previous-icon" viewbox="0 0 32 32">
                        <path class="carousel-previous-icon-path" d="M 24,8 L 16,16 L 24,24" />
                    </svg>
                    <svg @click="selectNextImage" class="carousel-next-icon" viewbox="0 0 32 32">
                        <path class="carousel-next-icon-path" d="M 8,8 L 16,16 L 8,24" />
                    </svg>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
export default {
    name: 'ItemCard',

    props: {
        item: {
            required: true,
            type: Object
        },
        isOpen: {
            required: true,
            type: Boolean
        }
    },

    computed: {
        imageDimensionStyles() {
            return {
                height: this.images[this.activeImageIndex].height,
                width: this.images[this.activeImageIndex].width
            }
        }
    },

    data() {
        return {
            activeImageIndex: 0,
            images: []
        }
    },

    mounted() {
        // We cannot always count on an item having images, so default to using the hero image
        // in those cases
        this.images = this.item.images.length ? this.item.images : [this.item.hero];
    },

    methods: {
        handleCarouselClose() {
            this.$emit('carousel-close');
        },

        selectNextImage() {
            if (this.activeImageIndex + 1 >= this.images.length) {
                this.activeImageIndex = 0;
            } else {
                this.activeImageIndex++;
            }
        },

        selectImage(index) {
            this.activeImageIndex = index;
        },

        selectPreviousImage() {
            if (this.activeImageIndex - 1 < 0) {
                this.activeImageIndex = this.images.length - 1;
            } else {
                this.activeImageIndex--;
            }
        }
    }

};
</script>

<style lang="scss" scoped>
@import '../styles/_variables';

.carousel-container {
    position: fixed;
    top: 0;
    left: 0;
    
    height: 100vh;
    width: 100vw;
    background: #ffffffdd;
    z-index: 50;
    overflow: hidden;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.carousel-close {
    position: absolute;
    top: $spacing_minor;
    right: $spacing_major;
    height: 32px;
    width: 32px;
    display: inline-block;
    animation: slide-in-left 0.4s ease;
    animation-fill-mode: both;
    cursor: pointer;
}

@keyframes slide-in-left {
    0% {
        opacity: 0;
        transform: translateX(32px);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.carousel-close-icon {
    height: 100%;
    width: 100%;
}

.carousel-close-icon-path {
    stroke: $text_color;
    stroke-width: 2;
}

.carousel-previous-icon,
.carousel-next-icon {
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.carousel-next-icon-path,
.carousel-previous-icon-path {
    stroke: $text_color;
    stroke-width: 2;
    fill: none;
}

.carousel-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    display: inline-block;
}

.carousel-controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $spacing_minor 0;
    background: $white;
}

.carousel-control-dot {
    cursor: pointer;
    border: 1px solid $text_color;
    display: inline-block;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    transition: all 0.2s ease;

    &.active {
        background: $accent-color;
        border-color: $accent-color;
    }

    + .carousel-control-dot {
        margin-left: 8px;
    }

    &:first-of-type {
        margin-left: 16px;
    }

    &:last-of-type {
        margin-right: 16px;
    }
}
</style>
