<template>
    <div class="item-card">
        <item-carousel
            :is-open="isCarouselActive"
            @carousel-close="closeCarousel"
            :item="item"
        >
        </item-carousel>
        <div class="item-image-container">
            <img
                :src="item.hero.href"
                class="item-image"
            >
            <div
                class="item-image-overlay"
                @click="openCarousel"
                title="Click to see more photos"
            >
                <div class="item-image-overlay-label">View more photos</div>
            </div>
        </div>
        <div class="item-content">
            <a
                :title="`View ${item.name} on west elm`"
                :href="item.links.www"
                class="item-link item-link_invisible item-content-inner"
            >
                <h4 class="item-name">
                    {{ item.name }}
                </h4>
                <div class="item-content-bottom">
                    <h5>${{ item.priceRange.regular.low }} - ${{ item.priceRange.regular.high}}</h5>
                    <h5>
                        <a
                            :title="`View ${item.name} on west elm`"
                            :href="item.links.www"
                            class="item-link"
                            target="_blank"
                        >
                            view details
                        </a>
                    </h5>
                </div>
            </a>
        </div>
    </div>
</template>

<script>
import ItemCarousel from './ItemCarousel';

export default {
    name: 'ItemCard',

    components: { ItemCarousel },

    props: {
        item: {
            required: true,
            type: Object
        }
    },

    data() {
        return {
            isCarouselActive: false
        }
    },

    methods: {
        openCarousel() {
            this.isCarouselActive = true;
        },

        closeCarousel() {
            this.isCarouselActive = false;
        }
    }

};
</script>

<style lang="scss" scoped>
@import '../styles/_variables';

.item-card {
    background: $white;
    box-shadow: 0 2px 4px 1px #ccc;
    margin-bottom: 2rem;
    width: 100%;

    @media (min-width: 640px) {
        width: calc(50% - #{$spacing_minor});
    }

    @media (min-width: 960px) {
        width: calc(33% - #{$spacing_minor});
    }
}

.item-content-inner {
    padding: $spacing_minor;
    display: block;
}

.item-content-bottom {
    display: flex;
    justify-content: space-between;
}

.item-name {
    margin-bottom: $spacing_mini;
}

.item-image {
    // display: block removes a tiny space after the image that is otherwise present
    display: block;
    width: 100%;
    cursor: pointer;
}

.item-link {
    text-decoration: none;
    position: relative;
    color: inherit;

    &:visited {
        color: inherit;
    }

    &::after {
        content: '';
        display: block;
        height: 2px;
        opacity: 0.5;
        background: $accent_color;
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
        transition: height 0.2s ease;
    }

    &:hover::after {
        height: 4px;
    }
}

.item-link_invisible {
    &::after {
        display: none;
    }
}

.item-image-container {
    position: relative;
}

.item-image-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(#00000022, #00000077);
    opacity: 0;
    transition: opacity 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.item-image-container:hover .item-image-overlay {
    opacity: 1;
}

.item-image-overlay-label {
    color: $white;
    padding: $spacing_mini;
    border: 1px solid $white;
}
</style>
