<template>
    <div class="loading">
        <div class="loading-graphic-container">
            <div class="loading-graphic loading-graphic-1"></div>
            <div class="loading-graphic loading-graphic-2"></div>
            <div class="loading-graphic loading-graphic-3"></div>
            <div class="loading-graphic loading-graphic-4"></div>
        </div>
        <h4 class="loading-header">Loading . . .</h4>
    </div>
</template>

<script>
export default {
  name: 'Loading',
};
</script>

<style lang="scss" scoped>
@import '../styles/_variables';

.loading {
    padding: 2* $spacing_major 0;
    text-align: center;
}

.loading-graphic-container {
    display: inline-flex;
    margin-bottom: $spacing_minor;
}

// Loading graphic animation heavily inspired by: http://tobiasahlin.com/spinkit/
.loading-graphic {
    width: 16px;
    height: 16px;
    background: $text_color;
    animation: rotate-plane 2s infinite ease-in-out;

    + .loading-graphic {
        margin-left: $spacing_minor;
    }
}

.loading-graphic-2 {
    animation-delay: 0.2s;
}

.loading-graphic-3 {
    animation-delay: 0.4s;
}

.loading-graphic-4 {
    animation-delay: 0.6s;
}

@keyframes rotate-plane {
    0% {
        transform: perspective(128px);
    }
    50% {
        transform: perspective(128px) rotateY(180deg);
    }
    100% {
        transform: perspective(128px) rotateY(180deg);
    }
}

.loading-header {
    opacity: 0.75;
}
</style>
