<template>
    <div id="app">
        <div class="site-header-container">
            <h1 class="site-header">west elm</h1>
            <div class="site-header-hr"></div>
        </div>
        <home></home>
    </div>
</template>

<script>
import Home from './containers/Home';

export default {
    name: 'app',
    components: {
        Home
    },
    data() {
        return {
            
        }
    }
}
</script>

<style lang="scss">
// Import app-wide styles here, once, so that they are included globally
@import './styles/_app';

#app {
    width: 96%;
    max-width: 1024px;
    margin: auto;
    padding-top: $spacing_major;
}

.site-header-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: $spacing_minor 0;
    margin-bottom: $spacing_major;
}

.site-header {
    padding: 0 $spacing_minor;
    background: $offwhite;
    z-index: 2;
    line-height: 1;
}

.site-header-hr {
    background: $text_color;
    height: 1px;
    width: 100%;
    left: 0;
    right: 0;
    position: absolute;
}
</style>
